#app__auth {
    width: 100vw;
    height: 100vh;

    display: flex;
    place-content: center;
}

#app__auth__form {
    display: flex;
    place-content: center;
    width: 50vw;
}

#app__auth__form h1 {
    font-size: 3rem;
    color: rgb(39, 39, 39);
}

#app__auth__form button {
    width: 15%; 
}